.estado-badge[b-ees69ziqm2] {
    display: inline-block;
    padding: 3px 12px;
    border-radius: 4px;
    font-size: 0.8rem;
    font-weight: 600;
    color: white;
}
.estado-pendiente[b-ees69ziqm2] { background-color: #eab308; }
.estado-aceptada[b-ees69ziqm2]  { background-color: #16a34a; }
.estado-rechazada[b-ees69ziqm2] { background-color: #dc2626; }