<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="google" content="notranslate" />
    <base href="/"/>
    <ResourcePreloader/>
    <link rel="stylesheet" href="@Assets["app.css"]"/>
    <link rel="stylesheet" href="@Assets["WEB.styles.css"]"/>
    <ImportMap/>
    <link rel="icon" type="image/x-icon" href="favicon.ico"/>
    <HeadOutlet/>
</head>

<body>
<script src="_content/Microsoft.FluentUI.AspNetCore.Components/js/loading-theme.js" type="text/javascript"></script>
<loading-theme storage-name="theme"></loading-theme>
<FluentDesignTheme StorageName="theme">
<Routes/>
</FluentDesignTheme>
<ReconnectModal/>
<script src="@Assets["_framework/blazor.web.js"]"></script>
<script>
    window.downloadFile = (fileName, base64Data) => {
        const link = document.createElement('a');
        link.href = `data:application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;base64,${base64Data}`;
        link.download = fileName;
        link.click();
    };
</script>
<script src="_content/ApexCharts/js/apex-charts.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
<script src="@Assets["Components/Account/Shared/PasskeySubmit.razor.js"]" type="module"></script>
<script src="_content/Microsoft.FluentUI.AspNetCore.Components/js/loading-theme.js" type="text/javascript"></script>
</body>

</html>