@inherits LayoutComponentBase
@using Microsoft.AspNetCore.SignalR.Client

@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<FluentDesignTheme  StorageName="theme" />
    <FluentLayout>
        <FluentHeader>
            <InteractiveHeader/>
        </FluentHeader>
        <FluentStack Class="main" Orientation="Orientation.Horizontal" Width="100%">
            <NavMenu/>
            <FluentBodyContent Class="body-content">
                <div class="content">
                    <PageTitle>Sistema de Indicadores</PageTitle>
                    @Body
                </div>
            </FluentBodyContent>
        </FluentStack>
        <FluentFooter>
            <a href="https://www.fluentui-blazor.net" target="_blank"></a>
            <FluentSpacer/>
            <a href="https://learn.microsoft.com/en-us/aspnet/core/blazor" target="_blank"></a>
        </FluentFooter>
    </FluentLayout>

    <div id="blazor-error-ui" data-nosnippet>
        An unhandled error has occurred.
        <a href="." class="reload">Reload</a>
        <span class="dismiss">🗙</span>
    </div>

@code {
    private HubConnection? hubConnection;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection != null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}
