.logout-item {
    width: 100%;
    padding: 8px 12px;
}
.logout-form {
    width: 100%;
}
.logout-button {
    width: 100%;
    justify-content: flex-start;
    text-align: left;
}

.logout-button span {
    margin-left: 8px;
}

.logout-button ::deep .fluent-icon {
    margin-right: 8px;
}