@layout EmptyLayout
@page "/Account/AccessDenied"



<header>
    <FluentStack Orientation="Orientation.Vertical" HorizontalAlignment="HorizontalAlignment.Center" VerticalAlignment="VerticalAlignment.Center">
        <h1 style="color: white" class="text-danger">Acceso denegado</h1>
        <p style="color: white" class="text-danger">No tienes acceso a este recurso</p>
    </FluentStack>
 
</header>