@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Olvidaste la confirmación de contraseña</PageTitle>

<h1>Olvidaste la confirmación de contraseña</h1>
<p role="alert">
    Por favor, revise su correo electrónico para restablecer su contraseña.
</p>