.parent-name {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.4;
}

.parent-name-normal {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
}

.objetivos-badge {
    font-family: monospace;
    background: var(--neutral-layer-3);
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 12px;
    display: inline-block;
    line-height: 1.4;
}

.empty-cell {
    color: var(--neutral-stroke-focus);
}


::deep .fluent-splitter .fluent-splitter-panel:first-child {
    overflow: visible !important;
}