@page "/admin/users"
@attribute [Authorize(Roles=AppRoles.Administrador)]
@using Microsoft.AspNetCore.Authorization
@using WEB.Components.Administrador.User
@using WEB.Components.Shared
@using WEB.Core.Services
@using WEB.Data
@attribute [Authorize]
@inject AdminPendingUsersState PendingState
@rendermode InteractiveServer


<FluentLayout>
    <FluentStack Orientation="Orientation.Horizontal" HorizontalAlignment="HorizontalAlignment.SpaceBetween">
        <Title Icono="@(new Icons.Filled.Size24.People().WithColor(Color.Accent))" ValueTitle="Usuarios"></Title>
    </FluentStack>
    <FluentStack Orientation="Orientation.Vertical" VerticalGap="20" Style="padding: 20px;">
        <div style="overflow-x: auto; width: 100%;">
         <UserDataGrid/>
        </div>
    </FluentStack>
</FluentLayout>

@code{

    protected override void OnInitialized()
    {
        PendingState.Reset();
        
        
    }

}